<div class="container" id="t">
    <form #geolocalizacaoForm="ngForm" (ngSubmit)="enviar()">
    <!-- <pre>{{ model | json }}</pre> -->
    <div class="form-group">
        <label for= "latitude">Latitude</label>
        <input type="number" id="latitude" name="latitude"
        [(ngModel)] = 'model.latitude' class="form-control"/>
    </div>
    <div class="form-group">
        <label for= "longitude">Longitude</label>
        <input type="number" id="longitude" name="longitude"
        [(ngModel)] = 'model.longitude' class="form-control"/>
    </div>
    <div class="form-group">
        <label for= "zoom">Zoom</label>
        <input type="number" id="zoom" name="zoom"
        [(ngModel)] = 'model.zoom' class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Enviar"/>
    </div>
    </form>
</div>