<div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" routerLink="/home" href="/home">Home</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerlink="/imagens" href="/imagens">Imagens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerlink="/usuarios" href="/usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" routerlink="/locais" href="/locais">Locais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerlink="/geolocalizacoes" href="/geolocalizacoes">Geolocalização</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerlink="/comentarios" href="/comentarios">Comentarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerlink="/locais/cadastrar" href="/locais/cadastrar">Novo Local</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>